* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-size: 16px;
    position: relative;
}
.header {
    width: calc(100% - 260px);
    height: 80px;
    padding: 8px 25px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: auto;
    background-color: #e7eff9;
    background-image: linear-gradient(315deg, #e7eff9 0%, #cfd6e6 74%);
}
.header-right {
    display: flex;
}
.header-right p {
    margin-bottom: 0;
    margin-left: 10px;
    font-size: 16px;
    font-weight: 600;
}
.sidebar {
    width: 260px;
    height: 100vh;
    background-color: #00308F;
    position: absolute;
    top: 0;
    padding: 20px 0;
}
.profile-bar {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile-bar img {
    width: 120px;
    height: 130px;
    border: 2px solid #fff;
    border-radius: 50%;
}
.menu-items {
    list-style-type: none;    
    padding: 30px 0;
}
.menu-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px 30px;
    color: #fff;
    cursor: pointer;
    border-bottom: 1px solid #00308F;
    font-size: 16px;
}
.menu-item span  {
    padding-left: 12px;
    margin-top: 3px;
}
.menu-item.active, .menu-item:hover {
    background-color: #c4c4c4bf;
    color: #00308F;
    font-weight: 900;
}
.menu-item img {
    width: 24px;
    height: 24px;
}
.main-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: calc(100vh - 80px);
}
.card-main {
    width: calc(100% - 260px);
    height: calc(100vh - 200px);
    margin-left: auto;
}
.home-form {
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
    margin: 20px;
}
.form {
    padding: 30px;
}
.form-section {
    width: calc(50% - 16px);
    margin-right: 16px;
    margin-bottom: 20px;
}
.full-width {
    width: 100%;
}
.radio-btns {
    display: flex;
    justify-content: center;
    align-items: center;
}
input[type="radio"] {
    width: 14px;
    height: 14px;
} 
.input-fields {
    display: flex;
    flex-wrap: wrap;
}
.input-fields .form-section {
    display: flex;
    flex-direction: column;
}
.radio-btns label {
    padding-left: 8px;
}
.input-fields label {
    font-size: 16px;
    margin-bottom: 8px;
    color: #00308F;
    font-weight: 600;
}
.input {
    max-width: 360px;
    height: 40px;
    outline: 0;
    border: 1px solid #c4c4c4;
    padding: 5px 14px;
    border-radius: 3px;
}
.submit-btn {
    width: fit-content;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    background-color: #00308F;
    border: none;
    cursor: pointer;
    padding: 8px 16px;
    border-radius: 3px;
    margin: auto;
}
.btn-center {
    width: 100%;
    text-align: center;
}
.footer {
    width: calc(100% - 260px);
    height: 80px;
    margin-left: auto;
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 48, 143, 0.7);

}
.input-fields .existing-customer {
    display: none;
}
.d-none {
    display: none;
}
.d-block {
    display: block;
}
.existing-customer.d-block {
    display: flex;
    flex-direction: column;
}